* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #eee;
    margin: 0%;
    padding: 0%;
}
#content {
    min-width: 500px;
    width: 600px;
    background-color: none;
    padding: 1rem;
    border: 1px solid #CCC;
    border-top-style: none;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}
.imgContainer img, .imgContainer  {
    max-width: 64px;
    max-height: 64px;
    border-radius: 100%;
}
.post {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 10px;
    background-color: #EEE;
    outline: solid 0px #36f;
}
.textContainer {
    margin-left: 1rem;
    width: 100%;
}
.postButtonContainer {
    float: right;
}
.handleContainer {
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.userName {
    color: #36f;
}
.trash-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(100, 100, 100);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .trash-button:hover {
    width: 100px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .trash-button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  
  .trash-button::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }
  
  .trash-button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

.end {
    margin-top: 4rem;
    color: rgba(51,102,255,0.25);;
}

.mainContainer {
    display: flex;
    justify-content: center;
}
  
.sidebar {
    width: 150px;
    height: 100%;
    background-color: rgba(0, 45, 182, 0.3);
    padding: 20px;
    border-radius: 10% 0% 0% 10%;
    border-right-style:none;
    margin-top: 4%;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 1);
}


@media screen and (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }
}
#spacing {
    width: 11%;
}
nav {
    background-color: #36f;
    width: 100%;
}